/target
/*/target
/mc-target
/.m2
/load-test/*/
/.vscode
/chart/scoreboard/charts/*

/swagger-generated
/.classpath
/.project
/.settings
/keystore/src/main/resources/key.jks
*/.settings
*/.classpath
*/.project
/caches
/local.properties
.*.swp
.DS_Store
