<?xml version="1.0" encoding="UTF-8"?>
<!-- the presence of this file enables CDI to inject context
  Normally you can just leave this file empty. But in order
  to have a comment, one then needs a valid file!
-->
<beans
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                      http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
    bean-discovery-mode="all"/>